<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>357551533849-3mnvvu1v69u1r2c6m0qbrvm41uq2b41d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357551533849-3mnvvu1v69u1r2c6m0qbrvm41uq2b41d</string>
	<key>API_KEY</key>
	<string>AIzaSyD7vF44ql3btpgQypUbn6HLmMPMu8AiCBA</string>
	<key>GCM_SENDER_ID</key>
	<string>357551533849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uttam.mali.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-bad03</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-bad03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357551533849:ios:c26cb951b2af12bc</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-bad03.firebaseio.com</string>
</dict>
</plist>